/**
 * Global styles
 */
:root {
   --nav-color: #c9b3ff;
   --nav-current-color: #7f4dff;
   --nav-select-color: #a480ff;
   --max-nav-width: 150px;
   --max-nav-height: 5vh;
   --nav-padding: 10px;
   --router-view-padding: 20px;
}

body {
   margin: 0;
    background-image: linear-gradient(to right, var(--nav-color), #cccccc);
    background-repeat: repeat-y;
    min-height: 100vh
}
